/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@use "@ngneat/hot-toast/src/styles/styles.scss";
@import "tailwindcss";
@theme {
  /* Define custom colors */
  --color-primary: #7378f5;
  --color-secondary: #4753d5;
  --color-dark: #262449;
  --color-container: #fffbfb;
  --color-shadow: #f7f7f7;
  --color-text: #262e49;

  /* You can also define shades for your custom colors */
  /* --color-primary-light: #ff8d73; */
  --color-primary-dark: #5b61f3;
  --color-primary-light: hsl(233, 91%, 80%);
}

* {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.animate-fade-in-out {
  animation: fadeInOut 1.5s ease-in-out forwards;
}
